<% content_for :header do %>
    Recurring Failing tests
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= link_to "Upload Travis log", new_issue_path, class: "btn btn-default pull-right" %>
  </div>
</div>

<div class="row">
  &nbsp;
</div>

<%= render "instructions" %>

<div class="row">
  <% if @issues.empty? %>
      <div class="alert alert-info">
        No issue found!
      </div>
  <% else %>
      <% @issues.each do |issue| %>

          <div id="issue_<%= issue.id %>" class="issue panel panel-default">
            <div class="panel-heading">
              <%= link_to "Edit", edit_issue_path(issue), class: "pull-right" %>
              <strong><%= issue.title %></strong>
            </div>
            <div class="panel-body">
              <pre class="pre-scrollable"><%= issue.description %></pre>
            </div>
            <div class="panel-body">
              <%= form_with(model: issue, url: execute_issue_path(issue)) do |form| %>
                  <div class="field">

                    <% matching_jira_issues(issue).each do |jira_issue, levenshtein_distance| %>
                        <%= issue_radio_button(form, jira_issue, levenshtein_distance) %><br>
                    <% end %>

                    <%= label_tag do %>
                        <%= form.radio_button :action, :new %>
                        Create a new JIRA.
                    <% end %><br>

                    <%= label_tag do %>
                        <%= form.radio_button :action, :destroy, checked: true %>
                        This is not a failed test. Remove it from this list.
                    <% end %><br>
                  </div>

                  <div class="actions">
                    <%= form.submit "Execute", data: { "disable-with": "Executing..." } %>
                  </div>
              <% end %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>


<% if params[:issue_debug].present? %>
    <% @jira.issues.each_with_index do |i, idx| %>
        <%= link_to i.key, "?issue_debug=#{idx}" %>
    <% end %>

    <pre>
      <%= @jira.issues[params[:issue_debug].to_i].status %>
    </pre>

    <pre>
      <%= @jira.issues[params[:issue_debug].to_i].to_yaml %>
    </pre>
<% end %>
