<h1>Cut and paste Travis log</h1>

<%= form_with(scope: :travis_log, url: issues_path, method: :post, local: true) do |form| %>
    <div class="field form-group">
      <%= form.label :url, "URL where the Travis is located." %>
      <%= form.text_field :url, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :text %>
      <%= form.text_area :text,  rows: 15, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit "Parse Log", class: "btn btn-success" %>
      <%= link_to 'Back', root_path, class: "btn btn-info" %>
    </div>
<% end %>



