<%= form_with(scope: :jira_session, url: jira_sessions_path, method: :post, local: true) do |form| %>
    <div class="field form-group">
      <%= form.label :username, "Username / Email" %>
      <%= form.text_field :username, id: :jira_session_username, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :password %>
      <%= form.password_field :password, id: :jira_session_password, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit "Login", class: "btn btn-default" %>
    </div>
<% end %>
